
#container{
	margin-top: 60px;
}

/* navbar */

#navbar{
	position: fixed;
    top: 0px;
	left: 0px;
	right: 0px;
	z-index: 1;   
}

.navbar {		
	background: #fff;
	padding-left: 16px;
	padding-right: 16px;
	border-bottom: 1px solid #d6d6d6;
	box-shadow: 0 0 4px rgba(0,0,0,.1);
}
.nav-link img {
	border-radius: 50%;
	width: 36px;
	height: 36px;
	margin: -8px 0;
	float: left;
	margin-right: 10px;
}
.navbar .navbar-brand {
	color: #555;
	padding-left: 0;
	padding-right: 50px;
	font-family: 'Merienda One', sans-serif;
}
.navbar .navbar-brand i {
	font-size: 20px;
	margin-right: 5px;
}

.navbar .dropdown-item .material-icons {
	font-size: 21px;
	line-height: 16px;
	vertical-align: middle;
	margin-top: -2px;
}
.navbar .badge {
	color: #fff;
	background: #f44336;
	font-size: 11px;
	border-radius: 20px;
	position: absolute;
	min-width: 10px;
	padding: 4px 6px 0;
	min-height: 18px;
	top: 5px;
}
.navbar a.notifications, .navbar a.messages {
	position: relative;
	margin-right: 10px;
}
.navbar a.messages {
	margin-right: 20px;
}
.navbar a.notifications .badge {
	margin-left: -8px;
}
.navbar a.messages .badge {
	margin-left: -4px;
}	
.navbar .active a, .navbar .active a:hover, .navbar .active a:focus {
	background: transparent !important;
}


/* searchfunction */
.searchbar{
    height: 30px;
    border-radius: 40px;
    padding: 10px;
    display: flex;
    align-items: center;
}

.search_input{
    color: #111111;
    border: 0;
    outline: 0;
    background: none;
    width: 0;
    caret-color:#111111;
    line-height: 20px;
    transition: width 0.4s linear;
}

.searchbar:hover{
    border: 2px solid black;
}

.searchbar:hover > .search_input{
    padding: 0 10px;
    width: 150px;
    caret-color:red;
    transition: width 0.4s linear;
}

.searchbar:hover > .search_icon{
    background: white;
    color: #e74c3c;
}

.search_icon{
    height: 20px;
    width: 20px;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: #111111;
    text-decoration:none;
}
